# Node
node_modules/
dist/
.env*
.DS_Store

# Vite
vite/dist/
vite/cache/

# pnpm
pnpm-lock.yaml
.pnpm-store/

# TypeScript
*.tsbuildinfo

# Logs
*.log
logs/

# IDEs
.idea/
.vscode/

# MacOS
.DS_Store

# Others
coverage/
tmp/
